html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

::selection {
  background: #9cc4b2;
  color: white;
}

section {
	border-bottom: 7px solid #9cc4b2;
	width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
	margin-bottom: 100px;
}

#nav-container {
	overflow: hidden;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  padding: 20px 5%;
  z-index: 3;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.top-container {
	flex-grow: 3;
}

.logo-container {
	flex-grow: 2;
  font-size: 32px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-family: "Syncopate", sans-serif;
}

#top-nav {
	display: flex;
	flex-direction: row;
	flex-shrink: 2;
}

nav a {
  text-decoration: none;
  color: white;
  align-content: center;
  padding: 12px;
}

nav a:hover {
  text-decoration: underline;
}

#login {
  background-color: #fff;
  color: #103c3e;
  border-radius: 12px;
}

.icon {
	display: none;
}

.header-content-container {
  position: absolute;
  display: block;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  top: 40%;
  text-align: center;
  z-index: 2;
  width: 100%;
}

.cta {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  height: 50px;
  background-color: rgba(16, 60, 62, 0.60);
  padding: 15px 50px;
}

.vid-wrap {
  top: 0;
  height: 75vh;
  width: 100vw;
}

video {
  width: 100%;
  height:80vh;
  object-fit: fill;
}

.vid-cover {
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(16, 60, 62, 0.57);
  border-bottom: 7px solid #9cc4b2;
}

.info-section {
	margin-top: 50px;
  text-align: center;
}

.info-section-text {
  padding: 0 20%;
  font-size: 24px;
}

h3 {
  font-size: 2.4rem;
}

.info-section-text p {
  font-weight: 300;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
	flex-wrap: wrap;
  margin: 40px 0;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

.info-section p {
  font-size: 1.5rem;
}

.product-container {
  margin-top: 12px;
  width: 14%;
  font-weight: 300;
  border-radius: 10px;
}

.product-icon {
  font-size: 10rem;
  margin-bottom: 30px;
}

.info-icon {
	color: white;
	background: #9cc4b2;
	border-radius: 100%;
	padding: 25%;
	font-size: 5rem;
}

.title-section {
	height: 35vh;
	color: white;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	max-height: 500px;
}

.title-section .title-text {
	position: relative;
	font-size: 2.5rem;
	font-family: "Syncopate", sans-serif;
	font-weight: bold;
	text-shadow: 4px 4px #1d1d1d;
	text-transform: uppercase;
	text-align: center;
	top: 45%;
}

.tsone {
	background-image: linear-gradient(
		to right bottom,
		rgba(16, 60, 62, 0.57),
		rgba(0, 0, 0, 0.57)),
		url("../pics/tsone-small.jpg");
		);

}

.tstwo {
	background-image: linear-gradient(
		to right bottom,
		rgba(16, 60, 62, 0.57),
		rgba(0, 0, 0, 0.57)),
		url("../pics/tstwo-small.jpg");
		);
}

.cta-footer {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

footer {
	padding-top: 20px;
	background: rgba(16, 60, 62, 0.57);
}

.footer-content {
	height: 100%;
	padding: 0 2%;
}

.footer-content-container {
	display: flex;
	flex-direction: row;
}

.ftr-icon-container {
	flex-grow: 3;
}

.ftr-icon {
	color: #fff;
	border-radius: 100%;
	padding: 20px;
}

#ftr-nav a {
	color: #9cc4b2;
	font-weight: bold;
	font-size: 1.05rem;
}

.contact-info {
	text-align: right;
	display: inline-block;
	flex-grow: 1;
}

.contact-info p {
	font-size: 1.4rem;
	margin-top: 2%;
}

.about-cover {
	background-image: linear-gradient(
		to right bottom,
		rgba(16, 60, 62, 0.57),
		rgba(0, 0, 0, 0.57)),
		url("../pics/about/cover.jpg");
		);
}

#about-section {
	margin: 90px 0;
	padding: 0 12%;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 0px;
}

.about-person {
	display: flex;
	flex-direction: row;
	border-bottom: 2px dashed #000;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.about-person .pic-name {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	text-align: center;
	width: 30%;
}

.about-person .roll {
	font-size: 1.5rem;
	font-weight: 300;
}

.about-person .pic-name img {
	width: 70%;
	align-self: center;
	border-radius: 100%;
	margin-bottom: 10px;
}

.about-person-text {
	flex-grow: 3;
	font-size: 3rem;
}

.about-person-text p {
	position: relative;
	text-align: center;
	top: 45%;
}

.right-left {
	flex-direction: row-reverse;
}

.quote {
	color: #9cc4b2;
	font-size: 2rem;
}

#products-title-section {
	background-image: linear-gradient(
		to right bottom,
		rgba(16, 60, 62, 0.57),
		rgba(0, 0, 0, 0.57)),
		url("../pics/products/cover.jpg");
		);
}

#products-section {
	margin: 90px 0;
	border-bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.product-type {
	display: flex;
	flex-direction: column;
	width: 26%;
	margin: 20px;
	height: 50%;
	text-align: center;
	border: 1px solid #9cc4b2;
	padding: 20px;
}

.product-title {
	font-size: 2rem;
}

.product-type .image-container {
	width: 100%;
	height: 80%
}

.image-container img {
	width: 100%;
	padding: 20px;
}

#contact-title-section {
	background-image: linear-gradient(
		to right bottom,
		rgba(16, 60, 62, 0.57),
		rgba(0, 0, 0, 0.57)),
		url("../pics/contact/cover.jpg");
		);
}

#contact-section {
	margin: 200px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-bottom: 0;
}

#contact-section input {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 5vh;
	border: 1px solid #9cc4b2;
}

#contact-section input:focus {
	outline: none;
	border: 4px solid #9cc4b2;
}

#comment-form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
	font-size: 2rem;
}

#comment-form textarea {
	border: 1px solid #9cc4b2;
}

#comment-form textarea:focus {
	outline: none;
	border: 4px solid #9cc4b2;
}

#submit {
	border: 1px solid #9cc4b2;
	background: #9cc4b2;
	color: #fff;
}

#submit:hover {
	background: #fff;
	border: 1px solid #103c3e;
	color: #103c3e;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	html {
		width: 100vw;
	}

	#nav-container {
		display: block;
		flex-direction: row;
		width: 100vw;
	}

	.top-container {
		display: flex;
		flex-direction: row;
	}

	nav {
		flex-direction: column;
	}

	#top-nav {
		display: none;
		flex-direction: column;
	}

	.icon {
		display: block;
		color: white;
		font-size: 1.5rem;
	}

	.gallery {
		flex-direction: column;
	}

	.product-container {
		width: 100%;
	}

	.title-section p {
		font-size: 2rem;
	}

	.footer-content-container {
		flex-direction: column;
	}

	.ftr-icon-container {
		text-align: center;
	}

	.about-person {
		flex-direction: column;
	}

	.about-person .pic-name {
		width: 100%;
	}

	.about-person-text {
		font-size: 2rem;
	}

	#products-section {
		padding: 0;
	}

	.product-type {
		width: 75%;
	}

	.product-type .product-title {
		font-size: 1.6rem;
	}

	.product-type img {
		width: 100%;
	}

	#comment-form {
		width: 80%;
	}
}
